
body {
    font-size:100%
}

#container {
    display: flex;
    justify-content:center;
    width : 60%;
    margin : auto;
}

fieldset{
    background-color:lightgray;
    width : 100%;
}

legend {
    font-size:2em;
    background-color:white;
}

form {
    /*height:8em; */
    display:flex;
    flex-direction:column;
    padding:0.5em;
    justify-content: space-around;
    align-items: center;
}

label {
    margin: .5em;
}
#submit, #textarea, #inputTitle {
    width: 50%
}

#inputTitle{
    padding: .5em;
}

#selectContainer {
    width: 50%;
    display : flex;
    justify-content : space-between;
}

#selectContainer > select {
    width :30%;
    border: none;
}

#textarea {
    height: 4em;
    margin: 1em;
    padding: .5em;
}

#submit {
    background-color : green;
    padding: 1em;
}

/* Items styles */
#items {
    width : 80%;
    margin : auto;
    padding: 0;
    list-style : none;
    display : flex;
    justify-content : space-between;
    flex-wrap :wrap;
}
li {
    width : 25%;
    margin:1em;
    background-color: lightgrey;
    border-radius: 1em;
    box-shadow : 5px 5px 5px grey;
    box-shadow : 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5em;
}

#liHeader {
    display: flex;
    justify-content : space-between;
    align-items : center;
}

#liHeader > span {
    font-weight : bold;
    color : lightblack;
}

#liHeader > button {
    padding : 10px;
    border : none;
    border-radius: 0.5em;
}

li > p {
    font-family: "Lucida Console", monospace;
