
body {
    font-size:100%;
    margin: 0;
}

#container {
    display: flex;
    justify-content:center;
}

fieldset{
    background-color:lightgray;
    width=80%
}

legend {
    font-size:2em;
    background-color:white;
}

form {
    font-size:1.5em;
    height:8em; 
    display:flex;
    flex-direction:column;
    padding:0.5em;
    justify-content: space-around;
    align-items: flex-start;
}

/* Header styles */

header{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: .2em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: solid 1px;
}

#iconName {
  /*background-color: lightgray;*/
  display : flex;
  align-items: center;
  font-size : 1.5em;
  padding: 0.2em;
  margin: 0;
}

#iconName > i {
  padding-right:0.2em;
}

#darkModeButton {
  border: none;
  background-color: white;
}
