
body {
    font-size:100%
}

#container {
    display: flex;
    justify-content:center;
    width : 80%;
    margin : auto;
}

#items {
    width : 80%;
    margin : auto;
    padding: 0;
    list-style : none;
    display : flex;
    justify-content : space-around;
    flex-wrap :wrap;
}
li {
    width : 30%;
    margin:1em;
    background-color: grey;
    border:solid;
}

fieldset{
    background-color:lightgray;
    width : 100%;
}

legend {
    font-size:2em;
    background-color:white;
}

form {
    font-size:1.5em;
    height:8em; 
    display:flex;
    flex-direction:column;
    padding:0.5em;
    justify-content: space-around;
    align-items: flex-start;
}
